/* Temp css file to make things look like a proper website before webpack step. */

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -Hero, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url("./images/rice.jpeg");
  align-items: center;
  justify-content: space-between;
}

/* Add effects to menu buttons. */
#navigation button:hover {
  cursor: pointer;
}

#navigation button {
  font-size: 20px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  position: relative;
}

#navigation {
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#navigation, #content, #footer {
  background-color: rgba(199, 70, 19, 0.911);
}

.tabSelector {
  position: absolute;
  bottom: -16px;
  left: -15px;
}

/* Main page */
#content {
  font-family: 'Helvetica Neue, sans-serif';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90%;
  width: 60%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-image: url("./images/GoldenFrame.png");
  background-size: 125% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Title of the current tab */
#title {
  border: 8px solid black;
  font-size: 25px;
  font-weight: 1000;
  font-family: cursive;
  min-height: 60px;
  height: 80px;
  text-align: center;
  line-height: 0px;
  margin-bottom: 70px;
  min-width: 676px;
}

 /* Review from Home Tab */
#review {
  /* text-align: center; */
  width: 300px;
  line-height: 1.3;
}

.subtitle {
  font-weight: 700;
}

.subcontent {
  background-color: orange;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 400px;
}

/* Types of food from Menu Tab */
.menuType {
  font-weight: bold;
  font-size: 25px;
  border: 5px solid black;
}

/* Prices of food from Menu Tab */
.price {
  line-height: 0px;
  height: 40px;
  width: fit-content;
}

/* Containers for menu items */
.container {
  display: flex;
  justify-content: space-between;
}

/* Contact containers. */
.contactContainer {
  min-width: 400px;
  position: relative;
  line-height: 2;
}

.contactContainer p {
  line-height: 0.3;
}

/* Contact photos. */
.contactPhoto {
  position: absolute;
  top: 30px;
  right: 30px;
}

#footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
